@model IEnumerable<Product>
@{
    ViewData["Title"] = "Home Page";
}


  <link href="https://netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="~/css/home.css" />


  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 col-md-3">
        <form method="get">
          <div class="well">
            <div class="row">
              <div class="col-sm-12">
                <div class="input-group">
                  <input type="text" name="search" class="form-control" placeholder="Search products...">
                  <span class="input-group-btn">
                    <button class="btn btn-primary" type="submit">
                      <i class="fa fa-search"></i>
                    </button>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </form>

         <form class="shop__filter" >

          <h3 class="headline">
            <span>Price</span>
          </h3>
          <p>Custom</p>
          <div class="radio">
                    <form id="priceForm" method="post" asp-route-Des="@ViewData["Des"]" asp-route-PageNumber="1">
                        <label for="LowestPrice">Lowest Price:</label>
                        <input type="number" id="LowestPrice" name="LowestPrice" step="0.01" required>
                        <br>

                        <label for="MaxmiumPrice">Maximum Price:</label>
                        <input type="number" id="MaxmiumPrice" name="MaxmiumPrice" step="0.01" required>
                        <br>

                        <input type="submit" value="Submit">
                    </form>
          </div>

         @* <h3 class="headline">
            <span>Brand</span>
          </h3>
          <div class="checkbox">
            <input type="checkbox" value id="shop-filter-checkbox_1" checked>
            <label for="shop-filter-checkbox_1">Adidas</label>
          </div>
          <div class="checkbox">
            <input type="checkbox" value id="shop-filter-checkbox_2">
            <label for="shop-filter-checkbox_2">Calvin Klein</label>
          </div>
          <div class="checkbox">
            <input type="checkbox" value id="shop-filter-checkbox_3">
            <label for="shop-filter-checkbox_3">Columbia</label>
          </div>
          <div class="checkbox">
            <input type="checkbox" value id="shop-filter-checkbox_4">
            <label for="shop-filter-checkbox_4">Tommy Hilfiger</label>
          </div>
          <div class="checkbox">
            <input type="checkbox" value id="shop-filter-checkbox_5">
            <label for="shop-filter-checkbox_5">Not specified</label>
                </div> *@
        </form> 
      </div>
      <div class="col-sm-8 col-md-9">

        <ul class="shop__sorting">
          @* <li class="active"><a href="#">Popular</a></li>
          <li><a href="#">Newest</a></li>
                <li><a href="#">Bestselling</a></li>*@
             <a asp-route-Des="true" asp-route-PageNumber="1" asp-route-MaxmiumPrice="@ViewData["MaxmiumPrice"]" asp-route-LowestPrice="@ViewData["LowestPrice"]" style="padding-right:5px">
             Price (high)
            </a>
                <a asp-route-Des="false" asp-route-PageNumber="1" asp-route-MaxmiumPrice="@ViewData["MaxmiumPrice"]" asp-route-LowestPrice="@ViewData["LowestPrice"]">
                Price (low)
            </a>
       </ul>
        <div class="row">
                @foreach (var product in Model)
                {
                    <style>
                        .buttons {
                            position: absolute;
                            bottom: -150px
                        }

                        .card:hover .buttons {
                            animation: buttons 500ms ease-in forwards
                        }
                    </style>
                    <div class="col-sm-6 col-md-4">
                        <div class="shop__thumb">
                                <div class="shop-thumb__img">
                                <img src="@product.ImgUrl" class="img-responsive" alt="Product Image" width="400" height="400">
                                </div>
                                <h5 class="shop-thumb__title">
                                    @product.Name
                                </h5>
                                <div class="shop-thumb__price">
                                    <span class="shop-thumb-price_new">$@product.Price</span>
                                </div>
                            <a asp-action="ProductDetail" asp-controller="Product" asp-route-id="@product.Id">
                               <button class="btn btn-outline-danger w-100" onclick="/pivacy" style="padding-bottom:3px">View</button>
                            </a>
                        </div>
                    </div>
                }
          </div>
        </div>


        <style>
            .pagination {
                display: flex;
                justify-content: flex-end;
                margin-bottom: 20px;
            }

                .pagination .page-item {
                    margin-left: 5px; 
                }

                .pagination .page-link {
                    color: black;
                }
        </style>

        <nav aria-label="Page navigation example" style="padding-bottom: 5%">
            <ul class="pagination">
                <li class="page-item">
                    <a class="page-link" asp-action="index" asp-route-PageNumber="1" asp-route-MaxmiumPrice="@ViewData["MaxmiumPrice"]"
                       asp-route-LowestPrice="@ViewData["LowestPrice"]"
                       asp-route-Des="@ViewData["Des"]">First Page</a>
                </li>
                 @if ((int)ViewData["pagenumber"]!=1)
                 {
                   <li class="page-item"><a class="page-link" asp-action="index" asp-route-PageNumber="@((int)ViewData["pagenumber"]-1)"
                           asp-route-MaxmiumPrice="@ViewData["MaxmiumPrice"]"
                           asp-route-LowestPrice="@ViewData["LowestPrice"]"
                           asp-route-Des="@ViewData["Des"]">Previous</a>
                    </li>
                 }

                @for (var i = Math.Max((int)ViewData["pagenumber"]-9, 1); i <= Math.Min((int)ViewData["pagenumber"]+9,  (int)ViewData["LastPageNumber"]); i++)
                {
                    <li class="page-item"><a class="page-link" asp-action="index" asp-route-PageNumber="@i"
                        asp-route-MaxmiumPrice="@ViewData["MaxmiumPrice"]"
                        asp-route-LowestPrice="@ViewData["LowestPrice"]"
                        asp-route-Des="@ViewData["Des"]">@i</a></li>
                }
                @if ((int)ViewData["pagenumber"]+9 < (int)ViewData["LastPageNumber"])
                {
                  <li class="page-item"><a class="page-link" asp-action="index" asp-route-PageNumber="@((int)ViewData["pagenumber"]+1)">Next</a></li>
                }
            </ul>
        </nav>
    </div>
  </div>

    @section Scripts{
           <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
          <script src="https://netdna.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
          <script type="text/javascript">

          </script>
    }

