@model IEnumerable<Product>
@{
    ViewData["Title"] = "Home Page";
}


  <link href="https://netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="~/css/home.css" />


  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 col-md-3">
        <form>
          <div class="well">
            <div class="row">
              <div class="col-sm-12">
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="Search products...">
                  <span class="input-group-btn">
                    <button class="btn btn-primary" type="submit">
                      <i class="fa fa-search"></i>
                    </button>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </form>

        @* <form class="shop__filter">

          <h3 class="headline">
            <span>Price</span>
          </h3>
          <div class="radio">
            <input type="radio" name="shop-filter__price" id="shop-filter-price_1" value checked>
            <label for="shop-filter-price_1">Under $25</label>
          </div>
          <div class="radio">
            <input type="radio" name="shop-filter__price" id="shop-filter-price_2" value>
            <label for="shop-filter-price_2">$25 to $50</label>
          </div>
          <div class="radio">
            <input type="radio" name="shop-filter__price" id="shop-filter-price_3" value>
            <label for="shop-filter-price_3">$50 to $100</label>
          </div>
          <div class="radio">
            <input type="radio" name="shop-filter__price" id="shop-filter-price_4" value="specify">
            <label for="shop-filter-price_4">Other (specify)</label>
          </div>
          <div class="form-group shop-filter__price">
            <div class="row">
              <div class="col-xs-4">
                <label for="shop-filter-price_from" class="sr-only"></label>
                <input id="shop-filter-price_from" type="number" min="0" class="form-control" placeholder="From"
                  disabled>
              </div>
              <div class="col-xs-4">
                <label for="shop-filter-price_to" class="sr-only"></label>
                <input id="shop-filter-price_to" type="number" min="0" class="form-control" placeholder="To" disabled>
              </div>
              <div class="col-xs-4">
                <button type="submit" class="btn btn-block btn-default" disabled>Go</button>
              </div>
            </div>
          </div> *@

          @* <h3 class="headline">
            <span>Brand</span>
          </h3>
          <div class="checkbox">
            <input type="checkbox" value id="shop-filter-checkbox_1" checked>
            <label for="shop-filter-checkbox_1">Adidas</label>
          </div>
          <div class="checkbox">
            <input type="checkbox" value id="shop-filter-checkbox_2">
            <label for="shop-filter-checkbox_2">Calvin Klein</label>
          </div>
          <div class="checkbox">
            <input type="checkbox" value id="shop-filter-checkbox_3">
            <label for="shop-filter-checkbox_3">Columbia</label>
          </div>
          <div class="checkbox">
            <input type="checkbox" value id="shop-filter-checkbox_4">
            <label for="shop-filter-checkbox_4">Tommy Hilfiger</label>
          </div>
          <div class="checkbox">
            <input type="checkbox" value id="shop-filter-checkbox_5">
            <label for="shop-filter-checkbox_5">Not specified</label>
          </div> *@

          
        @* </form> *@
      </div>
      <div class="col-sm-8 col-md-9">

        <ul class="shop__sorting">
          @* <li class="active"><a href="#">Popular</a></li>
          <li><a href="#">Newest</a></li>
          <li><a href="#">Bestselling</a></li> *@
          <li><a href="#">Price (low)</a></li>
          <li><a href="#">Price (high)</a></li>
        </ul>
        <div class="row">
                @foreach (var product in Model)
                {
                    <div class="col-sm-6 col-md-4">
                        <div class="shop__thumb">
                            <a href="#">
                                <div class="shop-thumb__img">
                                    <img src="@product.ImgUrl" class="img-responsive" alt="Product Image">
                                </div>
                                <h5 class="shop-thumb__title">
                                    @product.Name
                                </h5>
                                <div class="shop-thumb__price">
                                    <span class="shop-thumb-price_new">$@product.Price</span>
                                </div>
                            </a>
                        </div>
                    </div>
                }
          </div>
        </div>


        <style>
            .pagination {
                display: flex;
                justify-content: flex-end;
                margin-bottom: 20px;
            }

                .pagination .page-item {
                    margin-left: 5px; /* تم تغيير margin-right إلى margin-left لوضعها في الزاوية اليمنى */
                }

                .pagination .page-link {
                    color: black;
                }
        </style>

        <nav aria-label="Page navigation example" style="padding-bottom: 5%">
            <ul class="pagination">
                <li class="page-item"><a class="page-link" asp-action="index" asp-route-PageNumber="1">First Page</a></li>
                 @if ((int)ViewData["pagenumber"]!=1)
                 {
                   <li class="page-item"><a class="page-link" asp-action="index" asp-route-PageNumber="@((int)ViewData["pagenumber"]-1)">Previous</a></li>
                 }

                @for (var i = Math.Max((int)ViewData["pagenumber"]-9, 1); i <= Math.Min((int)ViewData["pagenumber"]+9,  (int)ViewData["LastPageNumber"]); i++)
                {
                    <li class="page-item"><a class="page-link" asp-action="index" asp-route-PageNumber="@i">@i</a></li>
                }
                @if ((int)ViewData["pagenumber"]+9 < (int)ViewData["LastPageNumber"])
                {
                  <li class="page-item"><a class="page-link" asp-action="index" asp-route-PageNumber="@((int)ViewData["pagenumber"]+1)">Next</a></li>
                }
            </ul>
        </nav>
    </div>
  </div>

    @section Scripts{
           <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
          <script src="https://netdna.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
          <script type="text/javascript">

          </script>
    }

