@model IEnumerable<Product>
@{
    var order = ViewData["order"] as Order;
    var account = ViewData["account"] as Account;
    var PickupAddress = ViewData["PickupAddress"] as PickupAddress;
}

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <style type="text/css">
        body {
            background: #eee;
        }

        .card {
            box-shadow: 0 20px 27px 0 rgb(0 0 0 / 5%);
        }

        .card {
            position: relative;
            display: flex;
            flex-direction: column;
            min-width: 0;
            word-wrap: break-word;
            background-color: #fff;
            background-clip: border-box;
            border: 0 solid rgba(0,0,0,.125);
            border-radius: 1rem;
        }

        .text-reset {
            --bs-text-opacity: 1;
            color: inherit !important;
        }

        a {
            color: #5465ff;
            text-decoration: none;
        }
    </style>
<body>
    <div class="container-fluid">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center py-3">
                <h2 class="h5 mb-0"><a href="#" class="text-muted"></a> Order @order.Id</h2>
            </div>

            <div class="row">
                <div class="col-lg-8">

                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="mb-3 d-flex justify-content-between">
                                <div>
                                    <span class="me-3">@order.OrderedAt</span>
                                    @if (order.Status == "UnShipped")
                                    {
                                        <form method="post" asp-controller="Delivery" asp-action="ChangeStatusToShipped" asp-route-id="@order.Id">
                                            <button type="submit" class="btn btn-success btn-lg">Shipped</button>
                                        </form>
                                    }

                                    @if (order.Status == "Shipped")
                                    {
                                        <form method="post" asp-controller="Delivery" asp-action="ChangeStatusTodelivered" asp-route-id="@order.Id">
                                            <button type="submit" class="btn btn-success btn-lg">delivered</button>
                                        </form>
                                    }
                                </div>
                            </div>
                            <table class="table table-borderless">
                                <tbody>
                                            @foreach (var product in Model)
                                            {
                                             <tr>
                                                 <td>
                                                <img src="@product.ImgUrl" alt width="35" class="img-fluid">
                                                 </td>
                                            <td>
                                                <div class="d-flex mb-2">
                                                    <div class="flex-lg-grow-1 ms-3">
                                                        <h6 class="small mb-0"><a href="#" class="text-reset">Name : @product.Name</a></h6>
                                                    </div>
                                                </div>
                                            </td>
                                                <td>
                                                    <div class="d-flex mb-2">
                                                        <div class="flex-lg-grow-1 ms-3">
                                                        <h6 class="small mb-0"><a href="#" class="text-reset">Description : @product.Description</a></h6>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td class="text-end">@product.Price</td>
                                             </tr>

                                            }
                                </tbody>
                                <tfoot>
                                    <tr class="fw-bold">
                                        <td colspan="2">TOTAL</td>
                                        <td class="text-end">@ViewData["TotalPrice"]</td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>

                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-6">
                                    <h3 class="h6">Info</h3>
                                    <address>
                                        <strong>@account.Name</strong><br>
                                        @ViewData["Governorate"]<br>
                                        @ViewData["City"]<br>
                                        @PickupAddress.AdditionalInfo<br>
                                        <abbr title="Phone">P:</abbr> @ViewData["PhoneNumber"]
                                    </address>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript">

    </script>
</body>
