@model Phone_Shop.Models.Product

@{
    ViewData["Title"] = Model == null ? "Create" : "Edit";
}

<h1 class="text-center mt-4" style="color: #191919;">@ViewData["Title"] Product</h1>
<hr style="border-color: #191919;" />

<div class="row justify-content-center">
    <div class="col-md-6">
        <form id="CreateProductForm" asp-action="@ViewData["Title"]" enctype="multipart/form-data" style="background-color: #ecf0f1; padding: 20px; border-radius: 10px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="CategoryId" class="control-label" style="color: #232D3F;">Category:</label>
                <select asp-for="CategoryId" class="form-control" asp-items="@(new SelectList(ViewBag.Category, "Id", "Name"))" style="color: #474E68;">
                    <option value="">Select Category Name...</option>
                </select>
            </div>

            <div class="form-group">
                <label asp-for="StoreId" class="control-label" style="color: #232D3F;">Store:</label>
                <select asp-for="StoreId" class="form-control" asp-items="@(new SelectList(ViewBag.Store, "Id", "Name"))" style="color: #474E68;">
                    <option value="">Select Store Name...</option>
                </select>
            </div>

            <div class="form-group">
                <label asp-for="Name" class="control-label" style="color: #232D3F;">Product Name:</label>
                <input asp-for="Name" class="form-control" style="color: #232D3F;" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Description" class="control-label" style="color: #232D3F;">Description:</label>
                <input asp-for="Description" class="form-control" style="color: #232D3F;" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ImgUrl" class="control-label" style="color: #232D3F;">Image:</label>
                <input type="file" asp-for="ImgUrl" accept=".jpg, .jpeg, .png" class="form-control" style="color: #232D3F;" />
                <span asp-validation-for="ImgUrl" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Price" class="control-label" style="color: #232D3F;">Price:</label>
                <input asp-for="Price" class="form-control" style="color: #232D3F;" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Amount" class="control-label" style="color: #232D3F;">Amount:</label>
                <input asp-for="Amount" class="form-control" style="color: #232D3F;" type="number" step="1" pattern="\d+" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>

            <div class="form-group text-center">
                <button type="submit" class="btn btn-primary" style="background-color: #2D4356; border-color: #2D4356; margin-top:5px;">@ViewData["Title"] Product</button>
            </div>
        </form>
    </div>
</div>

<script>
    document.getElementById('CreateProductForm').addEventListener('submit', function (event) {
        var fileInput = document.getElementById('ImgUrl');
        var fileName = fileInput.value;
        var allowedExtensions = /(\.jpg|\.jpeg|\.png)$/i;

        if (!allowedExtensions.exec(fileName)) {
            alert('Please upload a file with a valid extension (.jpg, .jpeg, or .png).');
            event.preventDefault(); // Prevent form submission
        }
    });
</script>

<div class="text-center mt-3">
    <a asp-action="Index" class="btn btn-secondary" style="background-color: #16003B; border-color: #16003B;">Your Products</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
